<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Review</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Books Ready to Review (<%= booksToReview.length %>)</h1>
    <p> Select a book to write your final thoughts and set your rating.</p>
    <% if (booksToReview.length > 0 ) { %>
        <ul>
            <% booksToReview.forEach(book => { %>
                <li>
                    <strong><%= book.title %></strong> by <%= book.author %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>You have Reviewed all of your finished books!</p>
        <% } %>
</body>
</html>